@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

* {
	font-family: "Nanum Gothic", sans-serif;
}

header {
	background-color: #F8F0CB;
	
}
/* 혜연 0225변경부분 */
.top-top {
	padding: 2.15em!important;
}

container-nav {
/* 혜연 0225변경부분 */
	
    padding: 0.5rem!important;
    
}

 nav {
 		background-color: #F3AE54;
        float: left;
        width: 100%;
        height: 40px;
        /* 혜연 0225변경부분 */
/*         paddling-top : 10px; */
    }
         container-fluid {
            width: 70%;
            padding-left: 30%;
            /* 혜연 0225변경부분 */
/*             padding-top: 30px; */
         }

		nav > div {
		        display: flex;
                justify-content: space-around;
                text-align: center;
		}
			.mb-3 {
			/* 혜연 0225변경부분 */
			    margin-bottom: 0.15rem!important;
			}
        	
             nav ul {
                display: flex;
                justify-content: space-around;
                text-align: center;
            }
             nav li {
            	background-color: #F3AE54;
                float: left;
            }
            .container-nav a {
            /* 혜연 0225변경부분 */
            margin-top:7px;
            	font-size: 1em;
            	padding:0;
            	cursor:pointer;
            }
            
            
            .container-nav a:hover {
	            color: #fff;
	            font-size: 1.2em;	
	            /* 혜연 0225변경부분 */
	            font-weight:600; /* 변경하고 싶은 글자 크기 */
	        	cursor:pointer;
	        }
	        /* 혜연 0225변경부분 */
	          .container-nav a:active {
	            color: #fff;
	            font-size: 1.2em;
	            font-weight:600; /* 변경하고 싶은 글자 크기 */
	            cursor:pointer;
	        }