@charset "UTF-8";

header {
	background-color: #F8F0CB;
	
}
.top-top {
	padding: 2.7rem!important;
}
container-nav {
    padding: 0.7rem!important;
    
}

 nav {
 		background-color: #F3AE54;
        float: left;
        width: 100%;
        height: 80px;
        paddling-top : 30px;
    }
         container-fluid {
            width: 70%;
            padding-left: 30%;
            padding-top: 30px;
         }

		nav > div {
		        display: flex;
                justify-content: space-around;
                text-align: center;
		}
			.mb-3 {
			    margin-bottom: 0.35rem!important;
			}
        	
             nav ul {
             padding-top :20px;
                display: flex;
                justify-content: space-around;
                text-align: center;
            }
             nav li {
            	background-color: #F3AE54;
                float: left;
            }
            .container-nav a {
            	font-size: 1.2em;
            }
            
            
            .container-nav a:hover {
	            color: #fff;
	            font-size: 1.5em; /* 변경하고 싶은 글자 크기 */
	        }