<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CsMapper">

<resultMap type="Cs" id="CsResultMap">
<id property="questionNo" 			column="QUESTION_NO"/>
<result property="userId" 			column="USER_ID"/>
<result property="questionWriter" 	column="QUESTION_WRITER"/>
<result property="questionTitle" 	column="QUESTION_TITLE"/>
<result property="questionPhone" 	column="QUESTION_PHONE"/>
<result property="questionEmail" 	column="QUESTION_EMAIL"/>
<result property="questionContent" 	column="QUESTION_CONTENT"/>
<result property="questionDate" 	column="QUESTION_DATE"/>
<result property="questionCategory" column="QUESTION_CATEGORY"/>
<result property="questionStatus" 	column="QUESTION_STATUS"/>
</resultMap>

<!-- 1:1문의 등록 -->
	<insert id="insertFaq">
		INSERT INTO QUESTION_TBL
		VALUES(SEQ_QUESTION_NO.NEXTVAL, 
		#{userId},
		#{questionWriter}, #{questionTitle}, #{questionPhone}, 
		#{questionEmail}, #{questionContent}, 
		DEFAULT, #{questionCategory},#{questionStatus})
	</insert>
	
	<update id="updateQuestion">
	UPDATE QUESTION_TBL
	SET QUESTION_SUBJECT = #{questionSubject }, QUESTION_PHONE = #{questionPhone}
	, QUESTION_EMAIL = #{questionEmail}, QUESTION_CONTENT = #{questionContent}
	WHERE QUESTION_NO = #{questionNo }
	</update>
	
<!-- 	1:1문의 조회 -->
	<select id="selectFaqList" resultMap="CsResultMap">
		SELECT * FROM QUESTION_TBL ORDER BY QUESTION_NO DESC
	</select>
	
<!-- 	전체 문의글 갯수 -->
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM QUESTION_TBL
	</select>
	
	<select id="selectQuestionByNo" resultMap="CsResultMap">
		SELECT * FROM QUESTION_TBL
		WHERE QUESTION_NO = #{questionNo }
	</select>
	
<!-- 	게시물 삭제 -->
<!-- 	<delete id="deleteArticle"> -->
<!-- 		DELETE FROM QUESTION_TBL -->
<!-- 		WHERE QUESTION_NO = #{questionNo } -->
<!-- 	</delete> -->
</mapper>