<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecipeMapper">
	<insert id="insertRecipe">
		INSERT INTO TEST1 VALUES(SEQ_RECIPE_NO.NEXTVAL,
		#{recipeName}, #{recipeDetail}, #{recipeCategory}, #{recipeTime},
		DEFAULT, DEFAULT)
	</insert>

	<insert id="insertTitleImage">
		INSERT INTO TEST2
		VALUES(SEQ_IMAGE_NO.NEXTVAL,#{imageTitle},#{imageRename},#{imageFilePath},#{imageFileLength})
	</insert>
	
	<insert id="insertIgrdList">
	    INSERT INTO TEST3 VALUES
	        (TEST3_IGRD.NEXTVAL, #{igrdName}, #{igrdUnit})
	</insert>

</mapper>