<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecipeMapper">
	<insert id="insertRecipe">
		INSERT INTO RECIPE_TBL VALUES(SEQ_RECIPE_NO.NEXTVAL, #{userId},
		#{recipeName}, #{recipeDetail}, #{recipeCategory}, #{recipeTime},
		DEFAULT, #{recipeCount})
	</insert>

	<insert id="insertTitleImage">
		INSERT INTO RECIPE_THN_TBL
		VALUES(SEQ_IMAGE_NO.NEXTVAL, SEQ_RECIPE_NO.CURRVAL,#{imageTitle},#{imageRename},#{imageFilePath},#{imageFileLength})
	</insert>
	
	<insert id="insertIgrdList">
	    INSERT INTO IGRD_TBL VALUES
	        (TEST3_IGRD.NEXTVAL, SEQ_RECIPE_NO.CURRVAL, #{igrdName}, #{igrdUnit})
	</insert>

	<insert id="insertSause">
		INSERT INTO SAUCE_TBL VALUES (TEST4_SAUSE.NEXTVAL, SEQ_RECIPE_NO.CURRVAL, #{sauseName}, #{sauseUnit})
	</insert>
	
	<insert id="insertRecipeDetails">
		INSERT INTO PRCD_TBL VALUES (TEST5_PRCD.NEXTVAL, SEQ_RECIPE_NO.CURRVAL, #{cookDetail})
	</insert>
 	
	<insert id="insertprcdImages">
	    INSERT INTO PRCD_IMG_TBL VALUES (SEQ_FILE_NO.NEXTVAL, SEQ_RECIPE_NO.CURRVAL, TEST5_PRCD.NEXTVAL, #{fileName}, #{fileRename}, #{filePath}, #{fileLength})
	</insert>
	
	<insert id="insertComment">
  		INSERT INTO COMMENT_TBL VALUES(SEQ_COMMENT_NO.NEXTVAL, #{recipeNumber}, #{userId}, #{commentWriter}, #{commentContent}, DEFAULT, #{recipeScore})
  	</insert>
  	
  	<update id="updateHitCount">
  		UPDATE RECIPE_TBL SET RECIPE_COUNT = RECIPE_COUNT + 1 WHERE RECIPE_NUMBER = #{recipeNumber}
  	</update>
	
	<select id="selectRecipeByNo" resultMap="recipeResultMap">
		SELECT * FROM RECIPE_TBL WHERE RECIPE_NUMBER = #{recipeNumber}    
    </select>
    
     <select id="selectRecipeTitleImg" resultMap="recipeTitleResultMap">
    	SELECT * FROM RECIPE_THN_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
    <select id="selectRecipeIgrd" resultMap="recipeIgrdResultMap">
    	SELECT * FROM IGRD_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
    <select id="selectRecipeSause" resultMap="recipeSauseResultMap">
    	SELECT * FROM SAUCE_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
    <select id="selectRecipePrcd" resultMap="recipePrcdResultMap">
    	SELECT * FROM PRCD_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
    <select id="selectRecipePrcdImg" resultMap="recipePrcdImgResultMap">
    	SELECT * FROM PRCD_IMG_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
    <select id="selectRecipeComment" resultMap="recipeCommentResultMap">
    	SELECT * FROM COMMENT_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
    <select id="AverageRating" resultType="double">
        SELECT AVG(RECIPE_SCORE) FROM COMMENT_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
	<select id="checkIfUserAlreadyCommented" parameterType="map" resultType="boolean">
	    SELECT COUNT(*)
	    FROM COMMENT_TBL
	    WHERE COMMENT_WRITER = #{writer} AND RECIPE_NUMBER = #{recipeNo}
	</select>
    
    <select id="getAllRecipes" resultMap="recipeResultMap">
    	SELECT * FROM RECIPE_TBL
    </select>
    
    <select id="getTitleImageByRecipeNumber" resultMap="recipeTitleResultMap">
    	SELECT * FROM RECIPE_THN_TBL WHERE RECIPE_NUMBER = #{recipeNumber}
    </select>
    
	<select id="selectAllRecipe" resultMap="recipeResultMap">
		SELECT * FROM RECIPE_TBL
	</select>
	
	<select id="totalCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE_TBL
	</select>
    
    <resultMap  type="Comment" id="recipeCommentResultMap">
    	<id 	property="commentNo" 		column="COMMENT_NO"/>
    	<result property="recipeNumber" column="RECIPE_NUMBER"/>
    	<result property="commentWriter" 	column="COMMENT_WRITER"/>
    	<result property="commentContent" 	column="COMMENT_CONTENT"/>
    	<result property="commentDate" 	column="COMMENT_DATE"/>
    	<result property="recipeScore" 	column="RECIPE_SCORE"/>
    </resultMap>
    
    <resultMap  type="PrcdImg" id="recipePrcdImgResultMap">
    	<id 	property="fileNo" 		column="FILE_NO"/>
    	<result property="recipeNumber" column="RECIPE_NUMBER"/>
    	<result property="cookPrcd" 	column="COOK_PRCD"/>
    	<result property="fileName" 	column="FILE_NAME"/>
    	<result property="fileRename" 	column="FILE_RENAME"/>
    	<result property="filePath" 	column="FILE_PATH"/>
    	<result property="fileLength" 	column="FILE_LENGTH"/>
    </resultMap>
    
    <resultMap  type="Prcd" id="recipePrcdResultMap">
    	<id 	property="cookPrcd" 		column="COOK_PRCD"/>
    	<result property="recipeNumber" column="RECIPE_NUMBER"/>
    	<result property="cookDetail" 	column="COOK_DETAIL"/>
    </resultMap>
    
    <resultMap  type="Sause" id="recipeSauseResultMap">
    	<id 	property="sauseNumber" 		column="SAUSE_NUMBER"/>
    	<result property="recipeNumber" column="RECIPE_NUMBER"/>
    	<result property="sauseName" 	column="SAUCE_NAME"/>
    	<result property="sauseUnit" 	column="SAUCE_UNIT"/>
    </resultMap>
    
    <resultMap  type="Igrd" id="recipeIgrdResultMap">
    	<id 	property="igrdNum" 		column="IGRD_NUM"/>
    	<result property="recipeNumber" column="RECIPE_NUMBER"/>
    	<result property="igrdName" 	column="IGRD_NAME"/>
    	<result property="igrdUnit" 	column="IGRD_UNIT"/>
    </resultMap>
    
    <resultMap 	type    ="Title"		     id="recipeTitleResultMap">
    	<id 	property="imageNo"			 column="imageIMAGE"/>
    	<result property="recipeNo"			 column="RECIPE_NUMBER"/>
    	<result property="imageTitle"		 column="IMAGE_TITLE"/>
    	<result property="imageRename"		 column="IMAGE_RENAME"/>
    	<result property="imageFilePath"	 column="IMAGE_FILEPATH"/>
    	<result property="imageFileLength"	 column="IMAGE_FILELENTH"/>
    </resultMap> 
    
    <resultMap type="Recipe" id="recipeResultMap">
    	<id property="recipeNumber" column="RECIPE_NUMBER"/>
    	<result property="userId" column="USER_ID"/>
    	<result property="recipeName" column="RECIPE_NAME"/>
    	<result property="recipeDetail" column="RECIPE_DETAIL"/>
    	<result property="recipeCategory" column="RECIPE_CATEGORY"/>
    	<result property="recipeTime" column="RECIPE_TIME"/>
    	<result property="recipeDate" column="RECIPE_DATE"/>
    	<result property="recipeCount" column="RECIPE_COUNT"/>
    </resultMap>
    
    
    
<!--     0222추가 -->
 <!--    <resultMap type="Wish" id="RecwishResultMap"> -->
 <!--     <id property="" column=""/> --> 
 <!--     <result property="" column=""/> -->
 <!--     <result property="" column=""/> -->
 <!--     <result property="" column=""/> -->
    
<!--     </resultMap> -->
    
    
    
    
    
    
</mapper>